body {
  font-size: 50px;
  margin: 0px;
}

.c1 {
  background-color: orange;
}

.c2 {
  background-color: skyblue;
}

.c3 {
  background-color: tomato;
}

div {
  float: left;
  padding-top: 100px;
  padding: 10px 50px 100px 150px;
  padding: 100px 50px;
  padding: 50px;
  margin: 0px 20px;
  border: solid 15px black;
}
