body {
  font-size: 40px;
  color: #fff;
  background-color: coral;
}

ul {
  padding: 0;
}

div {
  background-color: seagreen;
}

span {
  background-color: dodgerblue;
}
li {
  background-color: purple;
}

div,
span,
li {
  width: 50%;
  width: 200px;
  height: 80px;
  padding-top: 30px;
  text-align: center;
  display: block;
  display: inline;
  display: inline-block;
}
