/*
    1. Inline
    2. ID
    3. Classe, Pseudo-Classe, Atributo
    4. Elemento, Pseudo-elementos
*/

body {
  font-size: 40px;
}

div {
  background-color: #00b;
  color: #fff;
}

div[wm-cor] {
  background-color: darkorange;
}

div.estilo {
  background-color: green;
}

#unico1,
#unico2 {
  background-color: black;
}

div:hover,
#unico1:hover {
  background-color: purple;
}
