div {
  border: solid 5px dodgerblue;
  font-size: 40px;
  margin: 5px;
}

.big {
  font-size: 1.5em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-flow: row wrap;
  height: 200px;
  flex-flow: column-reverse wrap;
  flex-flow: row wrap;

  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  justify-content: space-between;

  /* Cross Axis */
  height: 400px;
  align-items: stretch;
  align-items: baseline;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;

  /* Mais de uma linha */
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;
}
