div {
  border: solid;
  font-size: 40px;
}

.flex-container div {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  height: 300px;
  width: 600px;
}

.flex-container div:nth-child(3) {
  background-color: indianred;
  order: 1;
  order: 0;
  order: -1;
  align-self: center;
  align-self: flex-end;
  align-self: flex-start;
  align-self: stretch;
}

.flex-container div {
  width: 100px;
  flex-grow: 0;
  flex-grow: 1;
}

.flex-container div:nth-child(1) {
  flex-grow: 2;
}

.flex-container {
  width: 300px;
  flex-shrink: 1;
}

.flex-container div:nth-child(1) {
  flex-shrink: 5;
}
