div {
  font-size: 60px;
  padding: 30px;
  border: solid 5px #222;
  color: #fff;
}

.static {
  top: 100px;
  left: 100px;
  background-color: steelblue;
}

.fixed {
  position: fixed;
  bottom: 30px;
  right: 0px;
  background-color: tomato;
}

.relative1 {
  position: relative;
  left: 50px;
  top: 5px;
  background-color: seagreen;
}

.absolute1 {
  position: absolute;
  left: 350px;
  top: 120px;
  background-color: violet;
}

.relative2 {
  position: relative;
  left: 250px;
  top: 2000px;
  width: 200px;
  height: 200px;
  background-color: slategray;
}

.absolute2 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: orange;
}

.sticky {
  position: -webkit-sticky; /* safari */
  position: sticky;
  background-color: #777;
  top: 0px;
}
