body {
  background-color: #222;
}

.c1 {
  background-color: red;
  float: right;
}

.c2 {
  background-color: green;
  clear: right;
  float: left;
}

.c3 {
  background-color: blue;
  clear: both;
}

.c4 {
  background-color: orange;
  float: right;
}

div {
  height: 150px;
  width: 150px;
}
