body {
  margin: 0;
  font-size: 40px;
}

div {
  border: solid 5px #222;
}

.m30 {
  margin: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

/* 
    float: left / right
    position: absolute
    display: inline-block
*/
